###Main Config###
inputfile=U:\Production\Hitco\Integration\Jobs\Active\MergeMaterials\G1
kitoutputpath=A:\TPO
newjobspath=A:\TPO\jobs
StyleLibrary=U:\Production\Hitco\Integration\Styles
plyNestingFilename=PlyNestingInstructions.txt
###Column Mappings###
#'Enter the column numbers for the 4 required fields:
#'Program, PartNumber, Fabric, Quantity
#'Column A=1, B=2 etc
StyleDirectory=6
PartNumber=7
FabricName=8
qty=3